* { margin: 0;
	background-color: lightgrey;
	list-style: none;
	text-decoration: none;
	color: black;

}




.d-block{
	width: 100%;
	height: 700px;
}

	




   


 .ilvolobarber{ 
 background-image: url(imagenes/colorpelu.png);
 background-repeat: no-repeat;
 font-size: 40px;
 width: 300px;
 border: 2px solid;
 margin-top: 50px;
 margin-left:10px;
 	}
 	.estoesloquehacemos{ 
 		font-family: cursive;
 		font-size: 35px;
 		text-align: center;

 	}
 	.texto{
 		font-size: 28px;
 		margin-left: 20px;
 	}
 	.teesperamos{
 		font-family: cursive;
 		font-size: 25px;
 		text-align: center;
 	}
.imagenmou{
	display: flex;

}
.imagenmou img {
	width: 500px;
	height: 500px;
	padding-top: 50px;
}



}
.footerconteiner{
	display: inline-block;
	padding-top: 40px; 
	margin: 10px;

}



	






/*pagina trabajos*/

.trabajos{
	font-family: cursive;
	font-size: 30px;
	text-align: center;
}


.gallery-container{
	display: grid;
	grid-template-columns: repeat(3 ,1fr);
	grid-auto-rows: 500px;
	padding: 50px;
	grid-gap: 5px;
	

}
.gallery-img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.gallery-items1{
	
	transform: rotate(-90deg);
	margin-left: 40px;
	width: 400px;
}
.gallery-items-alexis{ 
	
	width: 400px;
	height: 500px;
	
	transform: rotate(-90deg);
	padding-left: 40px;
	margin-left: 50px;
	margin-top: 20px;
	
}
.gallery-items3{
	
	transform: rotate(-90deg);
	width: 400px;
	margin-left: 20px;

}
.gallery-items4{ position: relative;
	bottom: 105px;
	margin-left: 65px;
	transform: rotate(-90deg);
	width: 400px;
}
.gallery-items5{ position: relative;
	bottom: 105px;
	margin-left: 85px;
	transform: rotate(-90deg);
	width: 400px;

}
.gallery-items6{
	position: relative;
	bottom: 105px;
height: 400px;
width: 400px;
margin-top: 50px;
margin-left: 40px;}

.galleryitems-7
{
position: relative;
	bottom: 105px;
height: 400px;
width: 400px;
margin-top: 50px;
margin-left: 40px;}
}

.galleryitems-8{
	
	position: relative;
	bottom: 105px;
height: 400px;
width: 400px;
margin-top: 50px;
margin-left: 40px;}

}














@media (max-width: 900px){
.navbar{ display: block; }
.ilvolobarber{ border: 8px solid blue }


}